* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --main-color: rgb(0, 152, 172);
    --secondary-color: rgb(148, 148, 148);
    --third-color: rgb(223, 223, 223);
}


header {
    background-color: var(--main-color);
    border-bottom: 3px solid black;
}

header h1 {
    font-size: 2.8em;
}

header h2 {
    font-size: 2em;
}

.header-box {
    background-color: var(--secondary-color);
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.589);
}

nav {
    background-color: var(--third-color);
    height: 100%;
}

.navbar-list {
    margin: auto auto;
}

.navbar-list h4 a {
    font-size: 1.4em;
    text-decoration: none;
    color: black;
}

.navbar-list ul {
    list-style-type: none;
    width: 100%;
}
.navbar-list ul li {
    text-decoration: none;
}

.navbar-list ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    width: 100%;
}

.navbar-list ul li:hover {
    background-color: var(--secondary-color);
    border-radius: 1px;
}

.navbar-list ul li:active {
    background-color: var(--main-color);
    border-radius: 1px;
}

section {
    background-color: var(--third-color);
    border-radius: 1px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
}

section a {
    text-decoration: none;
    color: Black;
}

.section-title {
    background-color: var(--main-color);
}
